#new-todo {
    margin-bottom: 20px;
  }
  
  #new-todo-form {
    display: flex;
    gap: 10px;
  }
  
  #new-todo-text {
    flex:auto;
    padding: 8px;
  }
  
  #new-todo-submit {
    padding: 8px 16px;
    background-color: #4a54e3;
    color: white;
    border: none;
    border-radius: 4px;
  }
  